footer
  .content.text-center
    p.pull-left © 2015 HTTP | All Rights Reserved
    ul.pull-right.list-inline
      li
        p built by<a href='https:www.johndangerstorey.com'> john</a> for <a href="www.jane.com">jane<a>
    
