extends layout

block content
	.app-page
		section.banner.bgMint
			h1.tac.txt-white Hacker's Table Tennis Posse
		.container
			section.users
				each val in users
					.item
						.person
							img(src = val.profile.picture)
							p #{val.profile.name}
							h5 #{val.profile.company}
							div.icon
								span.ion-chevron-up

						.about
							span.ion-ios-close-empty
							h5 Location
							p #{val.profile.location}
				
				
