doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='title' content='Http Leauge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    link(rel="icon" type="image/png" href= assetPath('images/logo-simple-64.png')) 
    if title == "Home"
      title Http League
    else
      title #{title} | Http League

    //- style-sheet area 
    //- styles was included in hackathon starter 
    //- includes things like bootstrap, navbar and other basic template, ion-icon etc...
    //- everything else custom, is changed in master.scss file /css/master.scss
    != css('styles') 
    != css('master') 

  body
    #wrap
      include partials/navbar
      include partials/flash
      block content
      include partials/footer

    != js('application')
